<h1>Speed of pushPayload</h1>

<p>
  This route is created to illustrate a performance regression I noticed when upgrading to ember 1.8 and ember-data beta 11 as described <a href="http://discuss.emberjs.com/t/10-slowdown-in-store-pushpayload-with-ember-data-beta-11/6608">on the discussion board</a>
</p>

<table>
  <thead>
    <tr>
      <th>Model name</th>
      <th>Num instances</th>
      <th>Time to push</th>
    </tr>
  </thead>
  <tbody>
    {{#each profile in profiles}}
      <tr>
        <td>{{ profile.name }}</td>
        <td>{{ profile.numItems }}</td>
        <td>{{ profile.timeTaken }}ms</td>
      </tr>
    {{/each}}
    <tr style="margin-top: 1px solid #000">
      <td colspan="2" style="text-align: right; font-weight: bold">
        Total
      </td>
      <td>{{ totalTime }}</td>
    </tr>
  </tbody>
</table>
